/* SECTION ONE */
.hero {
  background-color: #f2f2f2a6;
  padding: 82px 0;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_hero_text {
  color: #30444e;
}
.page_hero_text span {
  font-weight: 400;
}
/* section two */
.info {
  padding: 58px 0;
}
/* section three */
.our_perspective {
  background-color: #f7f7f7;
  padding: 43px 0;
}
.our_perspective .container {
  display: flex;
  justify-content: space-between;
}
.our_perspective .container > div {
  display: flex;
  flex-direction: column;
}
.our_perspective .section_title {
  margin-bottom: 50px;
}
.our_perspective .perspective_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: space-between;
}
.our_perspective .perspective_item .main_p {
  max-width: 430px;
}
.our_perspective .perspective_item img {
  margin-right: 21px;
}
.employee_name {
  margin-bottom: 16px;
}
/* section four */
.culture {
  background-color: #ee4248;
  padding: 48px 0;
}
.culture .container {
  display: flex;
  justify-content: space-between;
}
.culture .main_p {
  color: #ffffff;
  margin-top: 46px;
  max-width: 471px;
}
.culture .section_title.underline_left {
  background: url(../images/general/black_underline.png);
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-position-x: left;
}
/* section five */
.contact_us {
  padding: 47px 0;
}
.contact_us > .section_title.underline_center {
  text-align: center;
}
.contact_us .container {
  display: flex;
  justify-content: space-evenly;
}
.contact_us .container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contact_us .section_title {
  margin-bottom: 50px;
}
.contact_us .perspective_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: space-between;
}
.contact_us .perspective_item img {
  margin-right: 21px;
}
.contact_us .perspective_item .main_p {
  max-width: 430px;
}
@media (max-width: 768px) {
  .hero .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero img {
    max-width: 70%;
  }
  .info {
    padding: 30px 0;
  }
  .our_perspective .container {
    flex-direction: column;
    align-items: center;
  }
  .our_perspective img {
    max-width: 100%;
    margin: 35px 0;
  }
  .our_perspective .container > div > h2 {
    display: none;
  }
  .our_perspective .section_title {
    margin-bottom: 0;
  }
  .culture {
    padding: 20px 0;
  }
  .culture .container {
    flex-direction: column;
  }
  .culture .main_p {
    margin-bottom: 32px;
  }
  .contact_us {
    padding: 30px 0;
  }
  .contact_us .container {
    flex-direction: column;
  }
  .contact_us .container img {
    margin-bottom: 25px;
  }
}
@media (max-width: 425px) {
  .hero {
    padding: 40px 0;
  }
  .info .section_title.underline_left {
    background-position-y: 85px;
  }
}
@media (max-width: 375px) {
  .info .section_title.underline_left {
    background-position-y: 130px;
  }
}
